* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  height: 600px;
  width: 100%;
  background-color: rgb(203, 255, 255);
  display: flex;
  /* align-items: end; */
  /* flex-direction: column; */
}

.box {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  text-align: center;
  align-content: center;
  color: white;
  background-color: darkgreen;
  margin: 10px;
}

.item-3 {
  /* flex-basis: 200px; */
  /* flex-grow: 1; */
  order: 1;
}

.item-5 {
  order: 2;
  /* flex-grow: 2; */
}

.item-2 {
  order: 3;
  align-self: stretch;
  /* flex-shrink: 0; */
}

.item-1 {
  order: 4;
}
/* 

row -> horizontal ->
main axis -> horizontal
cross axis -> vertical

col -> :vertical
main axis -> :vertical
cross axis -> :horizontal */